<form class="ui large form segment">
  <h3 class="ui header">Add a Link</h3>

  <div class="field">
    <label for="title">Title:</label>
    <!-- 
      使用 # 告诉 Angular 将这些标签关联到一个局部变量中，现在 newtitle 是一个 DOM 元素对象，类型为 HTMLInputElement, 而输入域的值可以 newtitle.value 获取
    -->
    <input name="title" #newtitle>
  </div>
  <div class="field">
    <label for="link">Link:</label>
    <input name="link" #newlink>
  </div>
  <!--
    属性 (click) 定义按钮的单击回调函数，该函数 addArticle 定义在当前组件的  ArticleComponet 类中 。
    回调函数中的 newtitle, newlink 等从上面的输入域标签 resolve 过来的，如 resolve(#newtitle)。
  -->
  <button (click)="addArticle(newtitle, newlink)"
           class="ui positive right floated button">
    Submit link
  </button>
</form>

<!--
  articles 是定义在 AppComponent 中的 Article 数组，
  anarticle 是由 NgFor 创建的局部变量，
  [article] 是 ArticleComponent 中的 Input 参数
-->
<div class="ui grid posts">
  <app-article
    *ngFor="let anarticle of sortedArticles()"
    [article]="anarticle">
  </app-article>
</div>
